* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 69px;
    display: flex;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    height: 50px;
    margin-left: 10px;
}

nav {
    margin-right: 10px;
}

nav li {
    display: inline;
    list-style: none;
}

nav a {
    text-decoration: underline;
    color: seashell;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#mission {
    height: 700px;
    width: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url(../images/img-mission-background.jpeg);
    flex-basis:700px;
}

#mission_content{
    background-color: black;
    height: 85px;
    width: 100%;
    padding: 20px;
}

#featured_tea {
    width: 1000px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.showcase {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.showcase div img {
    width: 300px;
    height: 200px;
    margin: 15px;
}

.featured_tea div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#locations {
    background-image: url(../images/img-locations-background.jpeg);
    height: 600px;
    width: 1200px;
}

#locations h2{
    margin-top: 40px;
    padding: 20px;
}

#locations_content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.location_card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: black;
    gap: 20px;
}

#bottom_text {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

footer h5 {
    float: left;
    margin-left: 20px;
}